<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{!-- <h2>{{>header}}</h2>
        <h2>{{title}}</h2>
        <h2>{{desc}}</h2> --}}

        {{!-- <form id="form1">
            <input type="text" id="address">
            <button>Search for Weather</button>
            <h2 id="location"></h2>
            <h2 id="forecast"></h2>
            <p id="error"></p>
        </form> --}}

        <form id="form1">

            <h1 class="head">Know the weather</h1>

            <input type="text" id="address">
            <button>Search for Weather</button>
            <h2 id="location"></h2>
            <h2 id="forecast"></h2>
            <h2 id="longtitude"></h2>
            <h2 id="latitude"></h2>
            <p id="error"></p>

        </form>

        <script src="js/script.js"></script>
    </body>
</html>